@{
    ViewBag.Title = "About Space Labs";
}


<div class="site-section border-bottom aos-init aos-animate" style="background-image: url(../../Content/images/spacelabs.jpg); background-size:cover" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-1"></div>
            <div class="mb-4 col-md-10">
                <div class="site-section-heading1 pt-3 mb-4">
                    <div data-aos="fade">
                        <h2 class="text-center">How We Started</h2>
                        <p class="text-center">
                            Space Labs Inc was founded by Steve Francis and Elizabeth Graham in 2001. They designed this company to accomidate the engineers and developers at top space agengies around the world. To provide a safe, productive working environment for the engineers to focus and develop their space exploring craft. Safety is our top priority! <br />
                            What was once a dream is a reality for our founders. Steve and Elizabeth share backgrounds in Engineering, as well as Research, Marketing and Developing. Here at Space Labs we encourge our staff to be free thinkers and explore their creativity. Our staff is broken down into multiple teams that work together on providing the best products and service we can provide. Our teams include General Management, Marketing, Operations, Finance, Sales and Human Resources.  <br /> 
                            Our mission here is to continue to service the space industry into the widely unknown. Our staff will guide your company through the process of shopping, purchasing, delivering, set-up and/or operation of any of the products we offer. Our products go through rigorous development and testing, to ensure the safety of all of our customers and staff. Mostly, our mission and goal here at Space Labs is to encourge the creativity and exploration of the future and where we are going as humanity. To consistenty and efficently continue the research and development of our products. To make them more readily available, not only for major companies but possibly one day for we the people, to emabark into the unknown and vastness of space.<br/>
                            Dream big, unto the stars for oneday the stars will become a reality.
                            <br />
                           
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-2 col-lg-4">
            <img src="~/Content/images/moon.jpg" height="125"/>
        </div>

        <div class="col-md-6 col-lg-4 pt-5">
            <div class="row text-center">
                <div>
                    <div>
                        <p>"The nitrogen in our DNA, the calcium in our teeth, the iron in our blood, the carbon in our apple pies were made in the interiors of collapsing stars. We are made of starstuff."</p>
                        <p>"Exploration is in our nature. We began as wanderers, and we are wanderers still. We have lingered long enough on the shores of the cosmic ocean. We are ready at last to set sail for the stars."</p>
                    </div>
                    <p style="float:left">-C. Sagan</p>
                </div>

            </div>
        </div>

        <div class="col-md-12 col-lg-4">
            <div class="block-16">
                <figure>
                    <img src="~/Content/images/earth2.jpg" alt="Image placeholder" class="img-fluid rounded">
                    <a href="https://vimeo.com/230574607" class="play-button popup-vimeo"><span class="icon-play"></span></a>
                </figure>
            </div>
        </div>
    </div>
</div>


<div class="site-section border-bottom" style="background-color: midnightblue" data-aos="fade">
    <div class="container" style="color:  #b3b3b3">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>The Team</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/Content/images/person_3.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Steve Francis</h3>
                            <p class="block-38-subheading">CEO/Co-Founder</p>
                        </div>
                        <div class="block-38-body">
                            <p>Steve is our CEO and Co-Founder of SpaceLabs Inc. He has a passion for space and rockets. Steve beleives in humanity becoming a multiplanet species. </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/Content/images/person_1.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Elizabeth Graham</h3>
                            <p class="block-38-subheading">Co-Founder</p>
                        </div>
                        <div class="block-38-body">
                            <p>Elizabeth is one of the Co-Founders, like Steve, she has a passion for space. She hopes oneday to make the journey herself to the stars. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/Content/images/person_4.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Mike Coolbert</h3>
                            <p class="block-38-subheading">Project Manager</p>
                        </div>
                        <div class="block-38-body">
                            <p>Mike is our project manager, he has his masters in engineering from UNIL. Mike oversees the everyday building, shipping and maintaining of our products.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/Content/images/person_2.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Emma Rodgers</h3>
                            <p class="block-38-subheading">Human Resources</p>
                        </div>
                        <div class="block-38-body">
                            <p>Emma is our human resources agent. She enjoys the interaction with our staff and customers. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


