@{
    ViewBag.Title = "Home Page";
}

<div class="site-blocks-cover" style="background-image: url(../../Content/images/rocketSpaceLabs.jpg);" data-aos="fade-up">
    <div class="container">
        <div class="row align-items-start align-items-md-center">
            <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
                <h1 class="mb-2">Ready to blast off?</h1>
                <div class="intro-text text-center text-md-left">
                    <p class="mb-4">Welcome to Space Labs Inc and thank you for considering us for your next trip to space. We here at Space Labs Inc like to offer the best quality product, as well as the highest level of customer service that we can provide to our customers. Let us accompany you on your next journey to the stars.</p>
                    <p>
                        @Html.ActionLink("Shop Now", "Index", "Products", null, new { @class = "btn btn-primary" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section site-section-sm site-blocks-1">
    <div class="container1 p-2">
        <div class="row">
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-truck"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">Free Shipping</h2>
                    <p>We offer free shipping on all of our products. All material is shipped within state and federal guidelines. Product will be packaged and shipped by our facility to ensure the safety of our customers and our crew.  </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-refresh2"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">Free Returns</h2>
                    <p>We stock all parts, tools and equipment assemblies here at our facility to ensure a hassle-free exchange or return of any product we offer. All returns are exchangable on location. Full inspection of product will considered at time of exchange for a refund.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-help"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">Customer Support</h2>
                    <p>Our customer support staff is here to assist you in any of your purchasing, returning or support needs. Our support staff is available 24/7.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section site-blocks-2" style="background-image: url(../../Content/images/spiralgalaxy.jpg); background-size: auto" >
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="">
                <a class="block-2-item" href="@Url.Action("Index", "Products", new { categoryId = "1"})" >
                    <figure class="image">
                        <img src="~/Content/images/spaceSuit.jpg" alt="" class="img-fluid">
                    </figure>
                    <div class="text">
                        <span class="text-uppercase">Category</span>
                        <h3>Suit</h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
                <a class="block-2-item" href="@Url.Action("Index", "Products", new { categoryId = "2"})" >
                    <figure class="image">
                        <img src="~/Content/images/toolsSpacelab.png" alt="" class="img-fluid">
                    </figure>
                    <div class="text">
                        <span class="text-uppercase">Category</span>
                        <h3>Tools</h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                <a class="block-2-item" href="@Url.Action("Index", "Products", new { categoryId = "3"})" >
                    <figure class="image">
                        <img src="~/Content/images/rocketDetails.png" alt="" class="img-fluid">
                    </figure>
                    <div class="text">
                        <span class="text-uppercase">Category</span>
                        <h3>Rocketry</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


